<header class="hero-header">
  <div class="container">
    <a href="./index.html" class="logo">
      <img src="/img/svg-logo.svg" alt="Event Booster logo" />
    </a>

    <div class="hero-content">
      <h1 class="hero-title">
        Find best events <br />
        around the world
      </h1>

      <form class="hero-search">
        <div class="search-input">
          <input type="text" placeholder="Start searching" />
          <button type="submit">
            <svg class="icon-search">
              <use href="/img/symbol-defs.svg#search"></use>
            </svg>
          </button>
        </div>

        <div class="search-select">
          <select>
            <option value="" disabled selected hidden>Choose country</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="MX">Mexico</option>
            <option value="AU">Australia</option>
            <option value="NZ">New Zealand</option>
            <option value="GB">United Kingdom</option>
            <option value="IE">Ireland</option>
            <option value="PL">Poland</option>
            <option value="DE">Germany</option>
            <option value="IT">Italy</option>
            <option value="ES">Spain</option>
            <option value="AT">Austria</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</header>
