<header class="hero-header">
  <div class="container">
    <a href="/" class="logo">
      <img src="/img/svg-logo.svg" alt="Event Booster logo" />
    </a>

    <div class="hero-content">
      <h1 class="hero-title">
        Find best events <br />
        around the world
      </h1>

      <form class="hero-search">
        <div class="search-input">
          <input type="text" placeholder="Start searching" />
          <button type="submit">
            <svg class="icon-search">
              <use href="/img/symbol-defs.svg#search"></use>
            </svg>
          </button>
        </div>

        <div class="search-select">
          <select>
            <option value="" disabled selected hidden>Choose country</option>
            <option value="ua">Ukraine</option>
            <option value="pl">Poland</option>
            <option value="de">Germany</option>
            <option value="fr">France</option>
            <option value="it">Italy</option>
            <option value="es">Spain</option>
            <option value="gb">United Kingdom</option>
            <option value="us">United States</option>
            <option value="ca">Canada</option>
            <option value="au">Australia</option>
            <option value="jp">Japan</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</header>
