.footer {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.text_content {
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  text-align: center;
  padding: 20px 0;
}

.text_content:hover {
  text-decoration: underline;
  cursor: pointer;
}

.heart {
  color: #c31515;
}


@media screen and (max-width: 480px) {
  .text_content {
    font-size: 14px;
    line-height: 1.3;
  }
}
