.hero-header {
  position: relative;
  height: 480px;
  background-image: url('../img/header/hero-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-header .container {
  height: 100%;
}

.logo {
  position: absolute;
  top: 35px;
  left: 45px;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  gap: 50px;
}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: #dc56c5;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.search-input {
  position: relative;
  width: 270px;
}

.hero-search input,
.hero-search select {
  width: 270px;
  height: 40px;
  padding: 10px 30px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  outline: none;
  box-sizing: border-box;
}

.hero-search input {
  padding: 10px 50px 10px 30px;
}

.hero-search input::placeholder {
  color: #939393;
}

.search-input button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search {
  width: 12px;
  height: 12px;
  fill: #939393;
}

.search-select {
  position: relative;
  width: 270px;
}

.hero-search select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding-right: 45px;
}

.search-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 30px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #939393;
  border-bottom: 2px solid #939393;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
}


@media screen and (max-width: 1199px) {
  .hero-header {
    height: 400px;
  }

  .logo {
    top: 25px;
    left: 30px;
    width: 120px;
  }

  .logo img {
    width: 100%;
  }

  .hero-content {
    padding-top: 90px;
    gap: 35px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-search input,
  .hero-search select {
    width: 270px;
  }

  .search-input,
  .search-select {
    width: 270px;
  }
}

@media screen and (max-width: 480px) {
  .hero-header {
    height: 320px;
  }

  .logo {
    top: 20px;
    left: 20px;
    width: 100px;
  }

  .logo img {
    width: 100%;
  }

  .hero-content {
    padding-top: 80px;
    gap: 25px;
  }

  .hero-title {
    font-size: 18px;
    line-height: 1.3;
  }

  .hero-search {
    flex-direction: column;
    gap: 25px;
  }

  .search-input,
  .search-select {
    width: 270px;
  }

  .hero-search input,
  .hero-search select {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
}
