@import url('./reset.css');
@import url('./header.css');
@import url('./main-section.css');
@import url('./main-modal.css');
@import url('./footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0e0e0e;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

#scrollToTop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  padding: 10px 15px;
  font-size: 26px;
  background-color: #dc56c5;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

#scrollToTop:hover {
  background-color: #ffffff;
  color: #000000;
}
